source [find interface/jlink.cfg]
transport select swd
set CHIPNAME stm32g0b0
set ENDIAN little
telnet_port disabled

source [find target/stm32g0x.cfg]

# refuse to speed up the core for programming
proc stm32g0x_default_reset_init {} {}

reset_config srst_only
program $BINFILE 0x08000000 verify
shutdown
